dataset/*
logs/llava-timing-8279729.out
logs/llava-timing-8285311.err
logs/llava-timing-8285311.out
logs/llava-timing-8288227.err
logs/llava-timing-8288227.out
logs/llava-timing-8290404.err
logs/llava-timing-8290404.out
logs/llava-timing-8291072.err
logs/llava-timing-8291072.out
logs/qwen-timing-8279722.err
logs/qwen-timing-8279722.out
logs/qwen-timing-8285305.err
logs/qwen-timing-8285305.out
logs/qwen-timing-8288226.err
logs/qwen-timing-8288226.out
logs/qwen-timing-8291206.err
logs/qwen-timing-8291206.out
model_profiling_test/llava_baseline.json
model_profiling_test/llava_learned_keep10.json
model_profiling_test/llava_microbench_keep10.json
model_profiling_test/qwen_baseline_hi2.json
model_profiling_test/qwen_baseline.json
model_profiling_test/qwen_learned_keep10_hi2.json
model_profiling_test/qwen_learned_keep10.json
model_profiling_test/qwen_microbench_keep10_hi2.json
model_profiling_test/qwen_microbench_keep10.json
model_profiling_test/qwen_smoke_baseline.json
model_profiling_test/qwen_smoke_learned_keep10.json
model_profiling_test/qwen_vqav2_learned_keep10.json
__pycache__/custom_llava_new.cpython-310.pyc
__pycache__/custom_qwen.cpython-310.pyc
__pycache__/pruner.cpython-310.pyc
run_timing_llava.sbatch
run_timing_qwen.sbatch
CLAUDE.md
__pycache__/fastv_qwen.cpython-310.pyc
logs/fastv_smoke-8392292.out
logs/fastv_smoke-8392292.err
logs/fastv_token_prune-8387782.err
logs/fastv_token_prune-8387782.out
pruner/__pycache__/pruner.cpython-310.pyc
pruner/__pycache__/__init__.cpython-310.pyc
run_timing_qwen_smoke.sbatch
qwen_fastv_smoke.json
